In [ ]:
## Table of Contents

1. [Problem Statement](#section1)<br>
2. [Background](#section2)<br>
3. [Preparing the Data for analysis](#section3)<br>
3.1 Examining the Dataset 
3.2 Pre-profiling 
3.3 Pre- Processing
3.4 Post Profiling
3.5 Checking for incorrect Datatypes

4.Questions for Exploratory Data Analysis
4.1 Find out the impact of directors on the movie
 4.1.1 Does a particular director's movies receive higher revenue

<a id=section1></a>
## 1. Problem Statement
ssss

In [2]:
#Import the required packages

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline 
import warnings 
warnings.filterwarnings('ignore')

In [17]:
#Read the data into Pandas DataFrame
movies=pd.read_csv('https://raw.githubusercontent.com/koyeliaghosh/Term-1/master/Data/Projects/1000%20movies%20data.csv')

In [18]:
#Examine the head entries of the dataset 
movies.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [19]:
#Find out the total rows and columns of the DataFrame 
movies.shape

(1000, 12)

In [20]:
#check for number of unique values for the column 'Title'
movies.Title.nunique()

999

In [21]:
<br> Why is unique "Titles"  count not equal to the number of rows of the dataset.Are there any duplicate movies <br>

SyntaxError: invalid syntax (<ipython-input-21-c43717b6b0ec>, line 1)

In [25]:
#Check for duplicate values in the column 'Title'
movies.Title.duplicated().any()

True

In [26]:
#Find out the movies with Duplicate 'Title'
movies.loc[movies.Title.duplicated(keep =False)]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
239,240,The Host,"Action,Adventure,Romance",When an unseen enemy threatens mankind by taki...,Andrew Niccol,"Saoirse Ronan, Max Irons, Jake Abel, Diane Kruger",2013,125,5.9,96852,26.62,35.0
632,633,The Host,"Comedy,Drama,Horror",A monster emerges from Seoul's Han River and f...,Bong Joon Ho,"Kang-ho Song, Hee-Bong Byun, Hae-il Park, Doon...",2006,120,7.0,73491,2.20,85.0

In [27]:
<br> There are no duplicate movies.The movie with Title"The Host" was released on 2006 and 2013. So they are 2 different movies

SyntaxError: invalid syntax (<ipython-input-27-3dc290a809d9>, line 1)

In [28]:
#Count the number of missing values in each column 
movies.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [ ]:
def missing_value_pct(series):"""
Returns the missing value percentage of a series
"""